@charset "utf-8";
/* CSS Document */

body {
	background-color: #ccf5f5;	
}

#gamescreen {
	width: 600px;
	height:100%;
	margin-left: auto;
	margin-right: auto;	
}

#title {
	width:600px;
	height:150px;
	background-image:url(Web%20Files/penguin_title.png);
}

#snowMounds {
	padding:0px;
	margin:0px;
	list-style:none;
	display:inline-block;	
}

#snowMounds li {
	float:left;	
}

.no-inter {
	width:100%;
	height:100%;
	background-color:#000;	
}

.hover1:hover {
	background-image:url(Web%20Files/mound_1_hover.png);
    cursor: pointer;
}

.hover2:hover {
	background-image:url(Web%20Files/mound_2_hover.png);
    cursor: pointer;
}

.hover3:hover {
	background-image:url(Web%20Files/mound_3_hover.png);
    cursor: pointer;
}

.hover4:hover {
	background-image:url(Web%20Files/mound_4_hover.png);
    cursor: pointer;
}

.hover5:hover {
	background-image:url(Web%20Files/mound_5_hover.png);
    cursor: pointer;
}

.hover6:hover {
	background-image:url(Web%20Files/mound_6_hover.png);
    cursor: pointer;
}

.hover7:hover {
	background-image:url(Web%20Files/mound_7_hover.png);
    cursor: pointer;
}

.hover8:hover {
	background-image:url(Web%20Files/mound_8_hover.png);
    cursor: pointer;
}

.hover9:hover {
	background-image:url(Web%20Files/mound_9_hover.png);
    cursor: pointer;
}

#scoreSystem {
	display:block;
	text-align:center;
	margin-top:50px;	
}

#scoreSystem p {
	color:#2B3543;;	
	width:100%;
}

#reloadButton {
	display:block;
	text-align:center;
	width:100%;	
	margin-top:20px;
}